@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 59px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}
#logo{
    text-decoration: none;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 2px 2px grey;
    margin: 18px;
    padding-top: 10px;
}
#logo a{
    text-decoration: none;
    color: maroon;
}
#navbar ul{
    display: flex;
    font-family: 'Nunito', sans-serif;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 6px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: rgb(206, 85, 85);
}
#navbar{
    position: relative;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 460px;
    background-color: rgb(211, 153, 27);
}
#home::before{
    content: "";
    
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89; 
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;

}
.h-secondar{
    font-size: 2.8rem;
    padding: 12px;

}
#home h1{
    color: maroon;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer; 
    text-align: center;
}
#services{
    margin: 34px;
    display: flex;
    
}
#services .box{
    background-color: rgb(204, 199, 199);
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}
#services .box img{
    display: block;
    margin: auto;
    height: 155px;
    padding-top: 5px;
    width: 90%;
}
.services-container{
    background-color: rgb(192, 207, 228);
    top: 0;
}

